<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QuizzProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>VerifierAdmin</servlet-name>
  	<servlet-class>servlet.VerifierAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VerifierAdmin</servlet-name>
  	<url-pattern>/verifierAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddUtilisateur</servlet-name>
  	<servlet-class>servlet.AddUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddUtilisateur</servlet-name>
  	<url-pattern>/addUtilisateur</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UploadeFichier</servlet-name>
  	<servlet-class>servlet.UploadeFichier</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadeFichier</servlet-name>
  	<url-pattern>/uploadeFichier</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserReponse</servlet-name>
  	<servlet-class>servlet.UserReponse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserReponse</servlet-name>
  	<url-pattern>/userReponse</url-pattern>
  </servlet-mapping>
</web-app>